:root {
    --bg-color-trial: rgb(40, 210, 196);
    --bg-color-full: rgb(27, 61, 211);
    --bg-color-professional: rgb(142, 16, 201);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-size: 30px;
}

.row {
    display: flex;
    justify-content: center;
}

.card {
    margin-top: 30px;
    margin-left: 30px;

    width: 300px;
    height: 430px;

    position: relative;

    box-shadow: 0 0 5px 3px grey;
}


.head {
    font-size: 22px;
    text-align: center;

    margin: 10px 0 0 0;
    padding-top: 8px;
}

.line {
    font-weight: bold;

    margin: 0;

    text-align: center;
}

.description {
    margin-top: 16px;
    padding: 0 20px;
    text-align: justify;
}

.cost {
    padding: 0 20px;
    text-align: justify;

    font-weight: bold;
}

.card input {
   width: 170px;
   height: 35px;

   color: white;

   position: absolute;

   bottom: -15px;
   right: 15px;

   border-radius: 40px;
   border: none;
}

#trial {
    background-color: var(--bg-color-trial);
}

#full {
    background-color: var(--bg-color-full);
}

#professional {
    background-color: var(--bg-color-professional);
}

#p-trial {
    color: var(--bg-color-trial);
}

#p-full {
    color: var(--bg-color-full);
}

#p-professional {
    color: var(--bg-color-professional);
}

